# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.pydevproject

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Local data files (may want to keep these commented out if you want to include data files)
# data/

# Image files (uncomment if you don't want to include output images)
# *.png
# *.jpg
# *.jpeg
# *.gif

